.product-form__quantity-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1rem;
}

.product-form__submit {
  flex: 1 1 200px;
  width: 100%;
}

.product-form__input {
  flex: auto;
}

@media screen and (max-width: 375px) {
  .product-form__submit .button__icon,
  .product-form__submit .button__icon svg {
    width: 2rem;
    height: 2rem;
  }
  .product-form__submit .button__text {
    display: none;
  }
}
